/* 로고 및 기본 설정 */
#logo{
    width:50px;
    height: 50px;
}

a{text-decoration: none;}

.nav-scroller a:hover{text-decoration: underline;
color:black;
font-size:18px}

.text-center{
    font-family: "Do Hyeon", serif;
    font-size: 30px;
    font-weight: 500;
    
}


/* 지도 관련 기본 세팅*/
#koreamap{
    position: absolute;
    height: 900px;
    width:400px;
    left: 50%;
    margin-left: -200px;
   
}
.land
{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.land:hover{
    fill: #000;
}

/* 슬라이더 */
#carouselExampleFade{
    /*슬라이더 가운데 정렬 */
    position: absolute;
    top: 1000px;
    left: 20%;
}
.carousel-inner{
    /* 슬라이더 크기 */
    width: 960px;
    height: 600px;
    object-fit: fill;
}

/*object fit
fill	기본값. 주어진 너비와 높이에 딱 맞도록 사이즈를 조절합니다. 이미지의 가로세로 비율은 유지되지 않아요.
contain	가로세로 비율을 유지한 채로 사이즈가 조절되지만, 이미지와 컨테이너 간의 비율이 맞지 않는 경우엔 자리가 남게 됩니다.
cover	가로세로 비율을 유지한 채로 사이즈가 조절되며, 비율이 맞지 않더라도 이미지를 확대해 컨테이너를 완전히 채웁니다.
none	아무것도 하지 않고 본래의 이미지 사이즈를 유지합니다. 그래도 이미지 가운데가 보여지도록 하는 센스가 있어요.
scale-down	none 또는 contain 중에 더 적절한 방향으로 이미지 사이즈를 조절합니다.*/

/* 메뉴바 */
.sidebar{
    width: 35px;
    height: 35px;
    fill: currentColor;
    cursor: pointer;
}
.sidebar .menubar{
    width: 35px;
    height: 35px;
    fill: currentColor;
    cursor: pointer;
}
.text-center{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}