/* 로고 및 기본 설정 */
#logo{
    width:50px;
    height: 50px;
}

a{text-decoration: none;}

.nav-scroller a:hover{text-decoration: underline;
color:black}

.text-center{
    font-family: "Do Hyeon", serif;
    font-size: 30px;
    font-weight: 500;
}

/* 지도 관련 기본 세팅*/
#koreamap{
    position: absolute;
    height: 900px;
    width:400px;
    left: 50%;
    margin-left: -200px;
   
}
.land
{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.land:hover{
    fill: #000;
}
/* 지도 광역시 그룹화 */