/*container */
.container{
position: flex;
margin-left: 8%;
margin-right: 8%;
width: 84%;
}

/*서울> 맛집> 목포집*/
.route{
    margin-left: 9%;
    width: 82%;
}

/*목포집 타이틀 */
.themed-grid-col1 {
    margin-left: 9%;
    width: 82%;
    height: 50px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.7; /*투명도 */
    color: #000;
    border-radius: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}
/*목포집 이미지 */
.themed-grid-col2 {
    margin-left: 9%;
    width: 20%;
    height: 170px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    margin-top: 20px;
    color: #000;
    border-radius: 20px;
}
/*목포집 기본정보 */
.themed-grid-col3 {
    margin-left: 30%;
    width: 61%;
    height: 170px;
    position: relative;
    padding-top: .50rem;
    padding-left: .50rem;
    top:-170px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    padding-bottom: .50rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.7; /*투명도 */
    color: #000;
    border-radius: 20px;
}
/* 로고 및 기본 설정 */
#logo{
    width:50px;
    height: 50px;
}

a{text-decoration: none;
z-index: 5;}

.nav-scroller a:hover{text-decoration: underline;
color:#000;
font-size:18px}

.text-center{
    font-family: "Do Hyeon", serif;
    font-size: 30px;
    font-weight: 500;
    
}

/* 메뉴바 */
.sidebar{
    width: 35px;
    height: 35px;
    fill: currentColor;
    cursor: pointer;
}
.sidebar .menubar{
    width: 35px;
    height: 35px;
    fill: currentColor;
    cursor: pointer;
}
.text-center{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
/* search-box*/
#search-box{
    position: absolute;
    margin-right:160px;
}
/* search icon */
#searchicon{
    position: absolute;
    margin-right:150px;
    margin-top: -9px;
}
/* 서울>맛집>목포집 */
.breadcrumb{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}
.breadcrumb a{
    color: #000;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;

}

/* 지도 위치 */
#maps{
    position: relative;
    margin-left: 9%;
    width:82%;
    height: 500px;
    margin-top: -100px;
    border-radius: 40px;
}
/* 거리 계산 버튼 */
#distance{
    position: relative;
    z-index: 5;
    margin-left: calc(9% + 450px);
    margin-top:-90px;
    width: 400px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    text-align: center;
    border-radius: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    padding-top: 3px;
}




/* 리뷰 */
/* 리뷰 참여하기 누르는 박스*/
#review-item{
    left: 20%;
}
#review-logo{
    width:50px;
    height: 50px;
}
/* 여는 아이콘 */
#btn--open {
    margin-left: 10%;
    display: block;
    position: relative;    
}


/* 닫는 아이콘 */
#btn--close {
    /* display: none; */
position: relative;
top:10px;
margin-left: 96%;
width:30px;
cursor: pointer;}

/* 누르면 뜨게 되는 창 */
#pop{
    top: 80%;
    left: 20%;
    right: 20%;
    background-color: #fff;
    border: 1px solid rgba(86, 61, 124, .2);
    border-radius: 10px;
    width: 60%;
    z-index: 999;
    height: 600px;
    align-items: center; 
    position: absolute;
    text-align: left;
    /* display:none;*/
} 
/* 누를 때 창의 배경 */
nav#outside__menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #000;
    z-index: 999;
    opacity: 0.6;
}

/* 리뷰 안 내용 */
.review-contentname1/* 리뷰c참여하기*/{
    margin-left: 5%;
    color: rgb(0, 17, 255);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    font-weight: 1000;
}
.review-contentname{
    margin-left: 5%;
    color: rgb(0, 17, 255);
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}
.review-content{
    margin-left: 5%;
    color: rgb(0, 17, 255);
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}
.btn btn-outline-secondary{
    border-color: aliceblue;
    display: block;
}


/* 레이아웃 외곽 너비 400px 제한*/
.wrap{
    max-width: 480px;
    margin: 0 auto; /* 화면 가운데로 */
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

}
.reviewform textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
/*별점?*/
.rating{
    margin-left: 5%;
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: 4px;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-image: url('../../images/starrate/starrate.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    background-color: dimgray;
}
.rating .rate_radio:checked + label {
    background-color:rgb(255, 217, 0);
}

.warning_msg {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}
/*가격*/
.review-pricing{
    margin-left: 5%;
}
.form-range{
    width: 300px;
  }

/*누구와의 방문*/
.btn-group{
    left: 5%;
    margin-bottom: 10px;
}
/*댓글란*/
.review-commenting{
    margin-left: 5%;
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    align-items: stretch;
    width: 80%;
}
/* 리뷰 */
.col{
    width: 83%;
    margin-left: 8.5%;
    margin-top: 5%;
    margin-bottom: -20px;
}
/*공감*/
