
.themed-grid-col1 {
    margin-left: 9%;
    width: 82%;
    height: 50px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.7; /*투명도 */
    color: #000;
    border-radius: 20px;
}
.themed-grid-col2 {
    margin-left: 9%;
    width: 20%;
    height: 150px;
    
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
   
    cursor: pointer;
  
    margin-top: 20px;
    color: #000;
    border-radius: 20px;
}
.themed-grid-col3 {
    top: 20px;
    margin-left: 30%;
    width: 61%;
    height: 150px;
    position: relative;
    padding-top: .75rem;
    padding-left: .75rem;
    top:-150px;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.7; /*투명도 */
    color: #000;
}
/* 로고 및 기본 설정 */
#logo{
    width:50px;
    height: 50px;
}

a{text-decoration: none;
z-index: 5;}

.nav-scroller a:hover{text-decoration: underline;
color:#000;
font-size:18px}

.text-center{
    font-family: "Do Hyeon", serif;
    font-size: 30px;
    font-weight: 500;
    
}

/* 메뉴바 */
.sidebar{
    width: 35px;
    height: 35px;
    fill: currentColor;
    cursor: pointer;
}
.sidebar .menubar{
    width: 35px;
    height: 35px;
    fill: currentColor;
    cursor: pointer;
}
.text-center{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
/* search-box*/
#search-box{
    position: absolute;
    margin-right:160px;
}
/* search icon */
#searchicon{
    position: absolute;
    margin-right:150px;
    margin-top: -9px;
}
/* 서울>맛집>목포집 */
.breadcrumb{
    margin-top: 20px;
    font-size: 20px;
}

/* 지도 위치 */
#maps{
    position: relative;
    margin-left: 9%;
    width:82%;
    height: 500px;
    margin-top: -100px;
}



/* 리뷰 */
/* 리뷰 참여하기 누르는 박스*/
#review-item{
    left: 20%;
}

/* 여는 아이콘 */
#btn--open {
    display: block;
    position: relative;    
}

.btn btn-sm btn-outline-secondary{
    cursor: pointer;
}

/* 닫는 아이콘 */
#btn--close {
    /* display: none; */
position: relative;
top:10px;
margin-left: 96%;
width:30px;
cursor: pointer;}

/* 누르면 뜨게 되는 창 */
#pop{
    top: 80%;
    left: 20%;
    right: 20%;
    background-color: dimgray;

    border-radius: 10px;
    width: 60%;
    height: 500px;
    align-items: center; 
    position: absolute; 
    /* display:none;*/
} 

/* 리뷰 안 내용 */
.review-contentname{
    left: 20%;
    color: aliceblue;
}
.review-content{
    left: 5%;
    color: aliceblue;
}

